html
  head
    title Error
    style.
      body {
        background-color: #F8F8F8;
      }
      h1 {
        color: red;
        text-align: center;
        margin-top: 50px;
      }
      p {
        text-align: center;
        font-size: 18px;
        margin-top: 30px;
      }
      button {
        display: block;
        margin: 30px auto;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
      }
      button:hover {
        background-color: #3e8e41;
      }
  body
    h1 Error
    p An error occurred while processing your request.
    button(type='button' onclick="location.href='/auth/login'") Return to homepage
