*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

#home-view{
  display: flex;
  /* border: 2px solid red; */
  height: 100vh;
  flex-direction: column;
  padding: 35px;
  background-color: rgba(240, 248, 255, 0.868);
  background: linear-gradient(to bottom, white, rgba(240, 248, 255, 0.868), #fff);

}

.navbar{
  /* border: 2px solid rgb(0, 255, 208); */
  padding: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-title{
  border: 1px solid rgba(58, 50, 50, 0.118);
  border-radius: 15px;
  padding: 4px;
  width: 7rem;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  gap: 35px;
  /* border: 2px solid red; */
  align-items: center;
  padding: 15px;
}


.nav-links > div{
  border: 1px solid rgba(58, 50, 50, 0.118);
  border-radius: 15px;
  padding: 4px;
  width: 7rem;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

.learn-more-color{
  background-color: rgb(238, 81, 81);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* height: 4rem; */
  font-size: 15.7778px;
  font-weight: 700;  /* background-color: navajowhite; */
  /* transition: 1s; */
  background-color: rgba(239, 61, 61, 0.648);
  border: none;
  width: 120px;
  color: #fff;
  padding: 8px;
  border-radius: none;
}

.content-body{
  /* border: 2px solid red; */
  display: flex;
  height: 70%;
  padding: 75px;
  justify-content: space-around;
  align-items: center;
}

.page-intro{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  height: 70%;
  background: rgba(227, 214, 214, 0.25);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 25px;
}

.page-intro > h1{
   width: 592px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35.7778px;
  line-height: 100%;
  color: #080C1A;
  text-align: start;
  
}

.page-intro > p{
  width: 592px;

 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-style: normal;
 font-weight: 600;
 font-size: 18.7778px;
 line-height: 100%;
 color: #ea9c80;
 text-align: start;
 
}

.loud-img{
  /* border: 2px solid red; */
  flex: 1 0 50%;
  height: 65vh;
  padding: 55px;
  justify-content: center;
  align-items: center;
}

.loud-img > img{
  height: 20rem;
}

.btn-container{
  display: flex;
  /* border: 2px solid red; */
  padding: 18px;
  justify-content: center;
}

.btn-1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 4rem;
  font-size: 25.7778px;
  font-weight: 700;  /* background-color: navajowhite; */
  transition: 1s;
  background-color: rgba(239, 61, 61, 0.648);
  border: none;
  width: 300px;
  color: #fff;
}

.btn-1:hover{
 border-radius: 10px;
 background-color: rgb(249, 85, 85);

}
